<div class='container'>
  <div class='col-md-8 col-md-offset-2 text-center'>
  <h1>Welcome to our app. Please check your email for varification.</h1>

  <%= link_to 'Home', root_path, class: 'btn btn-primary' %>
</div>
</div>
