

<p> Please insert your email to reset password </p>
<%= bootstrap_form_for :password_reset, url:password_reset_index_path, html: { method: :post } do |f| %>
  <%= f.email_field :email, placeholder: 'Email' %>
  <%= f.submit 'Submit' %>
<% end %>
